<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <meta property="og:site_name" content={{videoUrl}}>
  <meta property="og:url" content="https://ysnv.vercel.app/?videoUrl={{videoUrl}}">
  <meta property="og:type" content="video.other">
  <meta property="og:video:url" content="{{videoUrl}}">
  <meta property="og:video:secure_url" content="{{videoUrl}}">
  <meta property="og:video:type" content="text/html">
  <meta property="og:video:width" content="1280">
  <meta property="og:video:height" content="720">

  {{#if hasVideoUrl}}
  {{else}}
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  {{/if}}
  <title>Yasin Tazeoglu</title>
  <style>
    {{> css}}
  </style>
</head>

<body>
  <div id="app">
    {{#if hasVideoUrl}}
    <div class="container video-container">
      <video {{#if autoplay}} autoplay {{/if}} controls src="{{videoUrl}}"></video>
    </div>

    {{else}}
    <div class="container input-container">
      <input type="text" v-model="videoUrl" />
      <button :disabled="isButtonDisabled" @click="openVideoUrl">
        Open video
      </button>
    </div>
    {{/if}}
    {{!-- {{> socialMedia }} --}}
  </div>
  {{#if hasVideoUrl}}
  {{else}}
  <script>
    function validURL(str) {
      var pattern = new RegExp(
        '^(https?:\\/\\/)?' + // protocol
        '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
        '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
        '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
        '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
        '(\\#[-a-z\\d_]*)?$',
        'i'
      );
      return !!pattern.test(str);
    }


    new Vue({
      el: '#app',
      data: {
        videoUrl: ''
      },
      computed: {
        isButtonDisabled() {
          return !this.videoUrl || !validURL(this.videoUrl);
        },
      },
      methods: {
        openVideoUrl() {
          const origin = window.location.origin;
          window.location.replace(origin + '?videoUrl=' + this.videoUrl);
        },
      },
    });
  </script>
  {{/if}}
</body>

</html>